@import './components/fonts';
@import './components/reset';
@import './components/mixins';

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

@import './parts/header';
@import './parts/index';
@import './parts/footer';
@import './parts/theme';

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $fontsecondary;
}

body {
    background: var(--body-background);
    transition: 0.5s;
}

main {
    background-color: var(--main-background);
    transition: 0.5s;

}
