@import '../../components/mixins';

.result-page {
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 28px;

    @include breakpoint(desktop){
        padding: 0px 50px;
    }

    &__person {
        font-size: 24px;
        margin-top: 70px; 
        margin-bottom: 30px;
        font-family: 'Monda';

        & i:first-child{
            display: inline-block;
        }

        & i:last-child{
            display: none;
        }

        @include breakpoint(desktop){
            font-size: 40px;
            margin-top: 90px; 
            margin-bottom: 50px;

            & i:first-child{
                display: none;
            }
    
            & i:last-child{
                display: inline-block;
            }
        }
    }

    &__title {
        font-size: 20px;
        margin-bottom: 20px;
        text-align: center;
        
        @include breakpoint(desktop){
            font-size: 26px;
        }
    }

    &__result {
        font-size: 18px;
        margin-bottom: 40px;

        @include breakpoint(desktop){
            font-size: 22px;
            margin-bottom: 50px;
        }
    }

    &__scorenumber {
        margin-bottom: 20px;

        & h4 {
            font-size: 24px;
            font-family: 'Monda';

            @include breakpoint(desktop){
                font-size: 30px;
            }
        }
    }

    &__scoretext {
        margin-bottom: 40px;

        @include breakpoint(desktop){
            margin-bottom: 50px
            ;
        }

        & p {
            font-size: 20px;

            @include breakpoint(desktop){
                font-size: 24px;
            }
        }
    }

    &__again {
        color: #121214;
        width: 90px;
        font-size: 16px;
        padding: 8px 18px;
        background-color: #FF9500;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 70px;

        @include breakpoint(desktop){
            width: 110px;
            padding: 10px 20px;
            font-size: 20px;
            margin-bottom: 90px;
        }

        &:hover {
            background-color: #f49e25;
            color: #323238;
        }
    }

    & .first {
        color: #ff0000;
    }


    & .third {
        color: var(--green);
    }
}