@import '../../components/mixins';

.start-page {
    font-family: $fontprimary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 28px;

    @include breakpoint(desktop){

    }

    &__title {
        font-size: 24px;
        line-height: 34px;
        font-weight: 600;
        margin: 70px 0 20px 0;
        margin-bottom: 20px;
        text-align: center;
        width: 315px;

        @include breakpoint(desktop){
            margin-top: 90px;
            font-size: 30px;
            width: 100%;
        }
    }

    &__text {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 40px;
        text-align: center;
        width: 295px;
        font-family: 'Monda';

        @include breakpoint(desktop){
            font-size: 25px;
            width: 100%;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;

        @include breakpoint(desktop){
            align-items: flex-start;
        }
        
        &--label {
            font-size: 16px;
            margin-bottom: 10px;

            @include breakpoint(desktop){
                font-size: 20px;
                margin-bottom: 15px;
            }
        }   
        
        &--input {
            font-size: 20px;
            border: 1px solid rgb(24, 189, 240);
            background: none;
            width: 315px;
            padding: 0 0 2px 0;
            text-align: center;

            @include breakpoint(desktop){
                padding: 0 0 5px 0;
                width: 500px;
                font-size: 25px;
            }
    
            &:focus {


                @include breakpoint(desktop){

                }
            }
        }
    }

    &__start {
        color: #121212;
        font-size: 16px;
        padding: 8px 18px;
        background-color: #00c3ff;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 70px;

        @include breakpoint(desktop){
            margin-bottom: 90px;
            font-size: 20px;
            padding: 10px 20px;
            width: 150px;
        }

        &:hover {
            background-color: #f42c25;
            color: #323238;
        }
    }

    &__error {
        position: relative;
        bottom: 20px;
        font-size: 14px;
        color: red;
        text-align: center;

        @include breakpoint(desktop){
            font-size: 16px;

        }
    }
}