@import '../../components/mixins';

.questiondata {
    max-width: 100%;

    .question-page {
   

        .container {


            .skills {
                position: static;
                top: 0;
                background-color: var(--bar-background);
                height: 5px;
              }
          }
    
        &__number {

    
            & h3 {


                @include breakpoint(tablet){
                    margin-right: 0px;
                    padding-left: 5px;
                    margin-top: 0px;
                }

                @include breakpoint(desktop){
                    font-size: 28px;
                }
            }
        }
    
        &__question {


            @include breakpoint(tablet){
                width: 385px;
            }

            @include breakpoint(desktop){
                width: 785px;
                margin-left: 10px;
            }
    
            &--text {
                font-size: 18px;
                line-height: 20px;
                margin-bottom: 30px;

                @include breakpoint(desktop){
                    font-size: 24px;
                }
            }
    
            &--multiple {


                & input[type="radio"] {
                    display: none;
                }

                & label{


                    @include breakpoint(desktop){
                        font-size: 20px;
                        border: 3px solid #ff9500;
                        border-radius: 10px;
                        padding-left: 30px;
                        height: 60px;
                        width: 350px;
                    }

                    &::before{
                        content: "";
                        height: 20px;
                        width: 20px;
                        border: 3px solid #FF9500;
                        border-radius: 50%;
                        margin-right: 10px;

                        @include breakpoint(desktop){
                            height: 25px;
                            width: 25px;
                            border: 3px solid #FF9500;
                            border-radius: 50%;
                            margin-right: 15px;
                        }
                    }

                    & i {
                        display: none;
                    }
                }         
                
                & input[type="radio"]:checked + label{
                    background-color: #FF9500;
                    color: black;
                    font-weight: bold;


                    & i {


                        @include breakpoint(desktop){
                            margin-left: 10px;
                            font-size: 20px;
                        }
                    }
                }

                
            }
    
            &--button {


                @include breakpoint(desktop){
                    margin-bottom: 90px;
                    gap: 20px;
                }
    
                & .btn-prev {


                    @include breakpoint(desktop){
                        font-size: 20px;
                        padding: 10px 20px;
                        width: 110px;
                    }

                    &:hover {
                        background-color: #322d2d;
                        color: #814f09;
                    }
                }
    
                & .btn-next {


                    @include breakpoint(desktop){
                        font-size: 20px;
                        padding: 10px 20px;
                        width: 110px;
                    }
    
                    &:hover {
                        background-color: #f49e25;
                        color: #323238;
                    }
                }
    
                & .btn-finish {


                    @include breakpoint(desktop){
                        font-size: 20px;
                        padding: 10px 20px;
                        width: 110px;
                    }
    
                    &:hover {
                        background-color: #f49e25;
                        color: #323238;
                    }
                }
            }
        }

        .modal {
            display: none;
            position: fixed; 
            z-index: 1; 
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        
            &__content {
                background-color: #fefefe;
                margin: auto;
                padding: 30px;
                border: 1px solid #888;
                width: 80%;

                @include breakpoint(tablet){
                    width: 60%;
                }

                @include breakpoint(desktop){
                    width: 60%;
                    padding: 40px;
                }

                @include breakpoint(deskxxl){
                    width: 40%;
                    padding: 30px;
                }
                
                &--title {
                    font-size: 20px;
                    color: red;
                    margin-bottom: 20px;
                    font-family: 'Monda';
                    text-align: center;

                    @include breakpoint(desktop){
                        font-size: 26px;
                    }
                }
        
                &--attention {
                    font-size: 16px;
                    color: black;
                    text-align: center;
                    line-height: 20px;

                    @include breakpoint(desktop){
                        font-size: 20px;
                        line-height: 25px;
                    }
                }
        
                &--close {
                    position: absolute;
                    top: 110px;
                    right: 48px;
                    color: #aaaaaa;
                    font-size: 25px;
                    font-weight: bold;

                    @include breakpoint(tablet){
                        right: 164px;
                    }

                    @include breakpoint(desktop){
                        right: 221px;
                        top: 115px;
                        font-size: 30px;
                    }

                    @include breakpoint(deskxxl){
                        right: 447px;
                        font-size: 30px;
                    }
        
                    &:hover {
                        color: #000;
                        text-decoration: none;
                        cursor: pointer;
                    }
                  }
              }
          }
    }
}


  
 