body.dark {
    /* == body == */
        --body-background: #021a4e;
    
    /* == main == */
        --main-background: #07013b;

    /* == progress == */
        --progress-background: rgb(111, 53, 219);

    /* == bar == */
        --bar-background: rgb(187, 52, 52);

    /* == style main input == */
        --input-main: #4b7a0e;

    /* == color == */
        --color: white;

    /* == circle == */
        --circle: black;

    /* == third result == */
        --green: #6cca14;

    /* == toggle == */
        --toggle-background: #222;
        --toggle-boxshadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
                            inset 0 8px 8px rgba(0, 0, 0, 0.1),
                            inset 0 -4px 4px rgba(0, 0, 0, 0.1); 
    
    /* == indicator == */
        --indicator-left--mobile: 0px;
        --indicator-left--desktop: 0px;
        --indicator-background: linear-gradient(to bottom, #444, #222);
        --indicator-boxshadow: 0 8px 40px rgba(0, 0, 0, 0.5),
                            inset 0 4px 4px rgba(0, 0, 0, 0.2),
                            inset 0 -4px 4px rgba(0, 0, 0, 0.2);
    
}

body.light {
    /* == body == */
        --body-background: #45d5ee;
    
    /* == main == */
        --main-background: #F6F5FF;;

    /* == progress == */
        --progress-background: #ddd;

    /* == bar == */
        --bar-background: rgb(200, 245, 128);

    /* == style main input == */
        --input-main: #309964;

    /* == color == */
        --color: black;

    /* == circle == */
        --circle: white;

    /* == third result == */
        --green: #096409;

    /* == toggle == */
        --toggle-background: #fff;
        --toggle-boxshadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
                            inset 0 2px 8px rgba(0, 0, 0, 0.1),
                            inset 0 -4px 4px rgba(0, 0, 0, 0.05); 

    /* == indicator == */
        --indicator-left--mobile: 23px;
        --indicator-left--desktop: 33px;
        --indicator-background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
        --indicator-boxshadow: 0 8px 20px rgba(0, 0, 0, 0.1),
                            inset 0 4px 4px rgba(255, 255, 255, 1),
                            inset 0 -4px 4px rgba(255, 255, 255, 1);

}