<!-- Ini adalah HTML untuk halaman index.html -->
<!-- Sisipkan HTML bagian header di sini, dan juga file CSS yang dibutuhkan -->
@@include('../shared/header.html', {
  "style": [
    "assets/css/main.css"
  ]
})
<!-- bagian header selesai -->

<!-- Tulis semua coding kalian mulai dari sini -->
<main>
  <section id="start" class="start-page">
      <h2 class="start-page__title">Welcome to SaltQuiz</h2>
      <p class="start-page__text">Please answer all of the Question after you type your name!.</p>
      <div class="start-page__form">
        <input class="start-page__form--input user-name" type="text" placeholder="Type your name here...">
      </div>
      <p class="start-page_error error-name"></p>
      <button id="start" class="start-page__start btn-start">Start</button>
  </section>

  <section id="quiz" class="questiondata" style="display: none">
  </section>

  <section id="end" class="end-page" style="display: none">
  </section>
</main>
<!-- Penulisan coding selesai di sini -->


<!-- Sisipkan HTML bagian footer di sini, dan juga file JS yang dibutuhkan -->
@@include('../shared/footer.html', {
  "script": [
    "assets/js/app.min.js"
  ]
})
<!-- bagian footer selesai -->